body {
	background-image: url("http://www.customtablefelt.com/images/suited-poker-felt/suited-poker-table-felt-400x300.jpg");
	background-size: fill;
	width: 1200px;
	height: 800px;
}

h1 {
	color:white;
	text-align: center;
}

h2{
	width: 400px;
	color:white;
}

div {
	height:200px;
	width: 125px;
}

.bet{
	float: right;
}

.dealer-field {
	height: 350px;
	width: 800px;
}

img {
	height:200px;
	width:100px;
}

.player-field{
	position:absolute;
	margin-top: 25px;
	height: 350px;
	width: 800px;
}

#button{
	background-image: url("http://www.wildtextures.com/wp-content/uploads/wildtextures-leather-Campo-brown.jpg");
	background-size: "fill";
	color:white;
}

#dealer-line {
	display: inline;
	width: 800px;
}

#player-line {
	display: inline;
	width: 800px;
}

.dealer-has {
	width:400px;
}

#modal {
	top: 0;
	left: 0;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
}

#close {
	top:4px;
	text-align: center;
	margin-top: 6px;
}

.modal-content {
  position: relative;
  margin: 0 30%;
  top: 150px;
  width: 40%;
 	background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT1Ey--XVgsj8TZOfRC1oImBWevfM_c6AGN-Qt_sZnlmkjrXMbvRQ");
	background-size: fill;
}

.modal-header {
  position: absolute;
  width: 100%;
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRy827o1mtnVbZaNZ6irWmTmOtfvHrFa6Hc5FOAWYhpkFAkN9M4");
	background-size: auto;
}

.modal-body {
  position: absolute;
  width: 100%;
  top: 75px;
  background-color: white;
  border-top: 2px solid black;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbtgNdJCpzm6FRmv8FB8h5pTT2hc8oJZZFtbAH3wOslPhjS_SO");
  background-size: 100% 100%;
}

#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index: 2;
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRKeprB2s3_Pk0McYLuxMR7l7lsGvWC0EGeFwjnVhmz7XrzMXPTIQ");
		background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

h3 {
	color: white;
	font-size: 125px;
	text-align:center;
}

.enter_link {
	margin-top: 30px;
	height: 60px;
	width:180px;
}

.close {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTibg-SX_NNzRbKDv9uW1kB5_FE9QIP00EhsM_PMMFtdxBEkGfFtA");
	background-size: 100% 100%;
	color:#291400;
	font-size: 18px;
	height:65px;
	width:200px;
	text-align: center;
}

.bet-amount {
	text-align: center;
	margin-top: 15px;
	padding-bottom:  15px;
}

span {
	font-size: 50px;
	font-family: "Oswald";
	text-align: center;
}

p {
	font-size: 25px;
	font-family: "Oswald";
	margin-bottom: 0;
}

#play-cards {
	height: 200px;
	width: 125px;
	float:left;
}

